section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
	background: #EDFFEC;

}
section.top{
  min-height: 100vh;
  display: flex;
  align-items: center;
	text-align: center;
	background: #EDFFEC;

}
img{
	padding-right: 10px;
	padding-left: 100px;
	padding-bottom: 10px;
	padding-top: 75px;
	width: 50%;
	



}
section:nth-child(1){
	background: #EDFFEC;
}

section:nth-child(2){
	background: #EDFFEC;
}

section:nth-child(3){
	background: #EDFFEC;
}

section:nth-child(4){
	background: #EDFFEC;
}

section .container{
  margin: 100px;
}

section h2{
  font-size: 40px;
  text-align: center;
}

section .cards{
  display: flex;
}

section .cards .text-card{
  background: #61E786;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 40px;
  }

  section .cards{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}







h1 {
	text-align: center;
	margin: 25px;
	font-size: 50px;
}
p {
	text-align: justify;
	font-size: 25px;
	margin: 100px;
  text-indent: 60px;

}
marquee{
	background-color: #C5283D;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;

}
h4 {
  font-weight: normal;
	text-align: justify;
	font-size: 25px;
}
h2 {
	margin: 25px;
}
h3 {
	margin: 25px;
}
h4 {
	margin: 25px;
}
h5 {
	margin: 25px;
}
img {
	float: left;
	margin: 5px;
}
.me {
	display: none;
}


/*menu bar*/
.topnav {
  overflow: hidden;
	position: sticky;
  background: #61E786;
	height: 85px;
	line-height: 80px;
	width: 100%;
	top: 0;
	z-index: 1000000;
}

.topnav a {
  float: right;
  color: black;
	line-height: 80px;
  text-align: center;
  height: 85px;
  padding-left: 20px;
	padding-right: 20px; 
  text-decoration: none;
  font-size: 20px;
	transition: background-color 0.5s;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background: #8ce8a6;
  color: black;
}

.topnav a.active {
	background: #EDFFEC;
  color: black;
}
.d a.active {
	background-color: black;
	color: white;
  }
.topnav .icon {
  display: none;
}

/*animations*/
@keyframes bodyAnim{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/*misc styling*/
body{
	margin: 0px;
	background: #EDFFEC;
	animation: bodyAnim 2s ease 0s 1;
}
#title{
	display: inline;
	margin: 25px;
}
