/*Margins*/
h1 {
	margin: 25px;
}
p {
	margin: 25px;
}
h2 {
	margin: 25px;
}
h3 {
	margin: 25px;
}
h4 {
	margin: 25px;
}
h5 {
	margin: 25px;
}

/*menu bar*/
.topnav {
  overflow: hidden;
  background-color: #d5d5d5);
	height: 80px;
	line-height: 80px;
	width: 100%;
	background: #d5d5d5;
}

.topnav a {
  float: right;
	display: inline-block;
  color: black;
	line-height: 80px;
  text-align: center;
  padding-left: 20px;
	padding-right: 20px; 
  text-decoration: none;
  font-size: 20px;
	transition: background-color 0.5s;
}

.topnav a:hover {
  background-color: #818181;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}
.topnav .icon {
  display: none;
}

/*animations*/
@keyframes bodyAnim{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/*misc styling*/
body{
	margin: 0px;
	background: #eeeeee;
  font-family: "Courier New", monospace;
	animation: bodyAnim 1s ease 0s 1;
}
#title{
	display: inline;
	margin: 25px;
}
