.leftBar{
  background: rgb(70, 70, 70);
  height: 100%;
  width: 20%;
  position:absolute;
  z-index: 10;
	color: black;
  top:0px;
  left:0px;
  border-right: 4px solid white;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 10px 0px 100px #000;
	background-position: 50%
}
.rightBar{
	color: black;
  background: rgb(70, 70, 70);
  height: 100%;
  width: 20%;
  position:absolute;
  z-index: 10;
  top:0px;
  right:0px;
	backdrop-filter: blur(10px);
  border-left: 4px solid white;
  background-size: auto 100%; 
	background-position: 50%;
  background: transparent;
  box-shadow: -10px 0px 100px #000;
}

.openWindowBtn{
  background: darkblue;
  border: none;
	color: white;
  padding:5px;
  width: 100%;
  transition: background 0.5s;
}
.openWindowBtn:hover{
	color: white;
  background: rgb(36, 27, 85);
}
.window{
  position: absolute;
  top:50%;
  transform: translate(calc(-100% - 4px),-50%);
  padding-top:5px; 
  padding-bottom:5px; 
  width: 90%;
  border: 4px solid white;
  border-left: none;
  height: 90%;
  background: red;
  background-image: url("tex/bgBlue.jpg");
  background-size: 100% auto;
  color:#fff;
  transition: transform 0.5s ease;
}
.expanded{
  transform: translate(0,-50%);
  z-index: 20;
}
.windowTitle{
  font-size: 20px;
  width: 100%;
  height: 20px;
  line-height: 8%;
  background: red;
}