/*
color 

https://coolors.co/4b7f52-7dd181-96e8bc-b6f9c9-c9ffe2

*/


@keyframes moveBg{
  0%{ background-position-x:-1600px }
  100%{ background-position-x:1600px }
}
.rainbow-box {
    width: 80vw;
    height: 200px;
    border-radius: 5px;
    background: repeating-linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    animation: moveBg 40s linear 0s infinite forwards;
}
h1, h2, h3, h4, h5, h6, p, img{
  user-select: none;
}
body{
  font-family: Arial;
	margin: 0px;
  padding:none;
  height: 100vh;
	color: white;
  background: #7DD181;
  background-size: 400px 400px;
	text-align: center;
  overflow: hidden;
}
.img-chamfer {
  border-radius:16px;
  display:inline-flex;
  overflow:hidden;
}
.option{
	background: rgb(104, 104, 104);
  border: none;
	float: center;
  z-index: 10;
  transition: background 0.5s;
	padding: 10px;
	text-align: center;
	position: absolute;
}
.option:hover{
  filter: drop-shadow(0px 0px 10px #fff);
}

.settings{
	display: none;
  position: absolute;
	text-align: center;
	width: 70%;
background: gray;
 top:15%;
  left:15%;
  transform: translate(-50%,-50%), scale(1);
	height: 70vh;
  border: 10px solid black; 
  border-radius: 30px;
	z-index: 100;
  transition: transform 0.5s;
}

h1{
	color: white;
}
.title{
	margin-top: 0vw;
  text-align: center;
  margin-left: 20%;
	top: 0px;
  width:60%;
	padding-bottom: 10px;
	padding-top: 10px;
  background: #96E8BC;
  border-bottom: 4px solid white; 
  font-size: 30px;}
.clrbtn{
  border: none;
  z-index: 10;
	float: right;
  transition: background 0.5s;
  width:40px;
  height: auto;
	position: absolute;
	text-align: center;
	bottom: 6px;
	right: calc(20% + 10px);
}
.clrbtn:hover{
  filter: drop-shadow(0px 0px 10px #fff);
}
.stgbtn{
  border: none;
	float: left;
  margin-left: 10px; 
  width:40px;
  z-index:10;
  height: auto;
	position: absolute;
	text-align: center;
	bottom: 6px;
	left:20%;
}
.stgbtn:hover{
  filter: drop-shadow(0px 0px 10px #fff);
}
.catButton{
  height: 50vh;
  width: 50vh;
  margin: auto;
  backdrop-filter: blur(300px);
  border-radius: 50%;
  border: 10px solid black;
  object-fit: cover;
	color: #fff;
  filter: drop-shadow(0px 0px 10px black);
  transition: transform 0.3s, filter 0.3s, background 0.3s, animation-duration 2s;
}
.catButton:hover{
  transform: scale(1.06);
  filter: drop-shadow(0px 0px 20px #fff);
  animation-duration: 5s;
}