.clock{
    color: #ffffff;
    font-size: 150px;
	letter-spacing: 7px;
	
font-family: Georgia, serif;

		text-align: center;
}
.date{
		text-align: center;
	
font-family: Georgia, serif;

    color: #ffffff;
    font-size: 100px;
    letter-spacing: 7px;
}

body{
	background: rgb(24, 24, 24);
	color: white;
}
.buttons{
	text-align: center;
}
.stop{
	background-color: rgb(177, 0, 0); /* Green */
  border: none;
  color: white;
  padding: 30px 64px;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}
.stop:hover{
	background-color: rgb(155, 0, 0);
}
.start:hover{
	background-color: rgb(155, 0, 0);
}
.reset:hover{
	background-color: rgb(155, 0, 0);
}
.start{
	background-color: rgb(177, 0, 0); /* Green */
  border: none;
  color: white;
  padding: 30px 64px;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}
.reset{
	background-color: rgb(177, 0, 0); /* Green */
  border: none;
  color: white;
  padding: 30px 64px;

  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(199, 199, 199); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 25px;
  color: #383838;
  display: block;
	text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
	text-align: center;
  margin-left: 15%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}