.transactionButton{
	color: white;
	width:100%;
  padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	background-color: #176e25;
}

.transactionButton:hover{
  background-color: #245205;
}

.buyPanel{
	right: 0px;
	color: white;
	position: absolute;
	width:50%;
	height: 95%;
	background-color: #524a38;
	border-left: 5px, #2b2a2a;
}

.store{
	color: white;
	top: 0;
	width:100%;
	height: 100px;
	background-color: #524a38;
	border-left: 5px, #2b2a2a;
}

.footer{
	color: white;
	text-align: center;
	bottom: 0;
	width:100%;
	background-color: #524a38;
}

.sellPanel{
	position: absolute;
	color: white;
	left: 0px;
	width:50%;
	height: 95%;
	background-color: #524a38;
	border-right: 5px #2b2a2a;
}

.storeButton {
  position:absolute;
text-align: center;
top: 18px;
	background-color: #176e25;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.closeButton {
  position: relative;
	text-align: center;
	background-color: #176e25;
  border: none;
  color: white;
	bottom: 0px;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.closeButton:hover {
  background-color: #245205;
}

.storeButton:hover{
  background-color: #245205;
}