body{
	margin: 0px;
  padding:none;
	color: white;
  background: rgb(255,246,0);
  background: linear-gradient(0deg, rgba(255,246,0,1) 0%, rgba(255,83,0,1) 100%);
  background-image: url("tex/bgGold.jpg"); 
	text-align: center;
}
.stg{
	text-align: center;
	width: 100%;
	background-color: gray;
	height: 100%;
	z-index: 100;
		display: none;

}

h1{
	color: white;
}
.title{
  text-align: center;
  margin: 0px;
  width:100vw;
	padding-bottom: 10px;
	padding-top: 10px;
  background: rgb(153, 0, 0);
  border-bottom: 4px solid white; 
  font-size: 20px;
}
.clrbtn{
  background: rgb(104, 104, 104);
  border: none;
  z-index: 10;
	float: right;
  transition: background 0.5s;
  width:40px;
  height: auto;
	position: absolute;
	text-align: center;
	bottom: 6px;
	right: calc(20% + 10px);
}
.clrbtn:hover{
  filter: drop-shadow(0px 0px 10px #fff);
}
.stgbtn{
  border: none;
	float: left;
  margin-left: 10px; 
  width:40px;
  z-index:10;
  height: auto;
	position: absolute;
	text-align: center;
	bottom: 6px;
	left:20%;
}
.stgbtn:hover{
  filter: drop-shadow(0px 0px 10px #fff);
}
.catButton{
  height: 50vh;
  width: 50vh;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
	color: #fff;
  background: rgb(255,246,0);
  background: radial-gradient(circle, rgba(255,246,0,1) 0%, rgba(214,145,6,1) 47%, rgba(198,64,0,1) 100%);
  filter: drop-shadow(0px 0px 10px black);
  transition: transform 0.3s, filter 0.3s, background 0.3s;
}
.catButton:hover{
background: rgb(154,148,0);
background: radial-gradient(circle, rgba(154,148,0,1) 0%, rgba(255,82,0,1) 100%);
  transform: scale(1.06);
  filter: drop-shadow(0px 0px 20px #fff);
}